{% extends "base.html" %} {% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="page-header">
    <h1>Najczęściej zadawane pytania</h1>
</div>
</br>

<section>
    <ol>
        <li style="font-weight: bold; font-size: x-large">Kto może wziąć udział w programie?</li>
        <p style="font-weight: normal; font-size: large">Każdy!</p>
                
        <li style="font-weight: bold; font-size: x-large">Jak się zarekrutować?</li>
        <p style="font-weight: normal; font-size: large">Klinknij przycisk wypełnij formularz na stronie głównej lub...</p>

        <li style="font-weight: bold; font-size: x-large">Jakieś pytania?</li>
        <p style="font-weight: normal; font-size: large">Nope.</p>
    </ol>
</section>
{% endblock content %}