{% extends "base.html" %} {% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="page-header">
    <h1>Najczęściej zadawane pytania</h1>
</div>
</br>

<section>
    <ol>
        <li style="font-weight: bold; font-size: x-large">Czego dotyczy formularz zgłoszeniowy?</li>
        <p style="font-weight: normal; font-size: large">Formularz jest jednym z pierwszych etapów rekrutacji wolontariuszy fundacji "Uniwersytet Dzieci".</p>

        <li style="font-weight: bold; font-size: x-large">Kogo poszukujemy?</li>
        <p style="font-weight: normal; font-size: large">Bohaterem o wielkim sercu może zostać każdy z nas! Ankieta kierowana jest do wszystkich zainteresowanych czynnym udziałem w wolontariacie. Mile widziane jest wykształcenie/doświadczenie pedagogiczne, lecz nie stanowi ono warunku obligatoryjnego udziału w rekrutacji.</p>

        <li style="font-weight: bold; font-size: x-large">Jak mogę się zarekrutować?</li>
        <p style="font-weight: normal; font-size: large">Do wypełnienia formularza można przejść ze strony głównej panelu rekrutacyjnego, bądź można skorzystać z zakładki "Formularz" w górnej części strony z poziomu każdej podstrony.</p>

        <li style="font-weight: bold; font-size: x-large">Jakie są etapy rekrutacji?</li>
        <p style="font-weight: normal; font-size: large">Formularz zgłoszeniowy stanowi pierwszy etap rekrutacyjny. Szczegółowe informacje dotyczące wszystkich etapów rekrutacyjnych dostępne są pod zakładką "Rekrutacja krok po kroku".</p>

        <li style="font-weight: bold; font-size: x-large">Czego dotyczą pytania rekrutacyjne?</li>
        <p style="font-weight: normal; font-size: large">Pytania rekruutacyjne pochodzą z dwóch różnych kategorii - zagadnienia związane z wiedzą pedagogiczną oraz pytadnia dotyczące postępowania w sytuacjach dnia codziennego.</p>

        <li style="font-weight: bold; font-size: x-large">Jaka jest forma i jak długa jest ankieta rekrutacyjna?</li>
        <p style="font-weight: normal; font-size: large">Ankieta rekrutacyjna składa się z 30 pytań zamkniętych jednokrotnego wyboru. Nie ma limitu czasowego na jej wypełnienie - ważne jest aby udzielane odpowiedzi były świadome i przemyślane.</p>

        <li style="font-weight: bold; font-size: x-large">Posiadam wyższe wykształcenie, ale mojej uczelni nie ma na liście - co zrobić?</li>
        <p style="font-weight: normal; font-size: large">Na liście uczelni (z racji lokalizacji i obszaru działania fundacji) znalazły się wyłącznie najpopularniejsze uczelnie w Krakowie. Jeżeli kandydat nie studiuje na żadnej z uczelni znajdujących się na liście, wybiera opcję "Inna".</p>

        <li style="font-weight: bold; font-size: x-large">Dlaczego muszę podawać stan mojej sytuacji zawodowej?</li>
        <p style="font-weight: normal; font-size: large">Sytuacja zawodowa kandydata stanowi w procesie rekrutacyjnym wyłącznie informację dla fundacji w kontekście zawarcia umowy cywilno - prawnej w przypadku ewentualnego zatrudnienia.</p>

        <li style="font-weight: bold; font-size: x-large">Czy posiadane zaświadczenia wpływają na wynik rekrutacji?</li>
        <p style="font-weight: normal; font-size: large">Zaświadczenia potwierdzające posiadanie statusu studenta, bądź orzeczenie o niepełnosprawności nie są w żaden sposób punktowane (ani ujemnie, ani dodatnio). Zaświadczenie o niekaralności (z racji charakteru i działaności fundacji) jest warunkiem obligatoryjnym.</p>

        <li style="font-weight: bold; font-size: x-large">Co w przypadku, gdy nie posiadam wykształcenia wyższego?</li>
        <p style="font-weight: normal; font-size: large">W przypadku posiadania wykształcenia średniego lub podstawowego w polach "Obszar tematyczny studiów" oraz "Uczelnia" wybrać opcję "Nie dotyczy". Poziom wykształcenia nie ma bezpośredniego przełożenia na wyniki niniejszego etapu rekrutacji.</p>

        <li style="font-weight: bold; font-size: x-large">Wypełniłem ankietę, co dalej?</li>
        <p style="font-weight: normal; font-size: large">Po wprowadzeniu niezbędnych danych i udzieleniu odpowiedzi na wszystkie pytania rekrutacyjne, dla każdego z kandydatów wyliczany jest wynik punktowy na podstawie poprawnie udzielonych odpowiedzi. Do kolejnego etapu rekrutacji (spotkanie z komisją rekrutacyjną) zapraszani są kandydaci o najwyższym wyliczonym współczynniku punktowym.</p>

        <li style="font-weight: bold; font-size: x-large">W jaki sposób wprowadzone w formularzu dane będą przetwarzane?</li>
        <p style="font-weight: normal; font-size: large">Wszelkie informacje podane w ankiecie są wykorzystywane tylko na potrzeby procesu rekrutacyjnego i nie są udostepniane w żaden sposób osobom trzecim. Każdy użytkownich chcący przystąpić do procesu rekrutacji musi wyrazić zgodę na przetwarzanie swoich danych osobowych (klauzula RODO).</p>

        <li style="font-weight: bold; font-size: x-large">Nie ma tu odpowiedzi na Twoje pytanie?</li>
        <p style="font-weight: normal; font-size: large">W takim przypadku zachęcamy do kontaktu prywatnego poprzez ......</p>

    </ol>
</section>
{% endblock content %}