{% extends "base.html" %} {% block content %}

<div class="page-header">
    <h1>Formularz zgłoszeniowy</h1>
</div>
<br>

<form role="form" action="/save" method="post">
    <h3>Dane osobowe</h3>
    <!-- <div class="form-group">
        <label for="firstname">Imię:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required> 
        <option value="" disabled selected hidden>Choose Gender...</option>
    </div> 
    <div class="form-group">
        <label for="lastname">Nazwisko:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
    </div> -->

    <div class="form-group">
        <label class="required" for="date">Wiek:</label>
        <select class="form-control" id="wiek" name="wiek">
            <option value="" disabled selected hidden>Wybierz swoją grupę wiekową...</option>
            <option value="mniej niż 18">mniej niż 18</option>
            <option value="18-21">18-21</option>
            <option value="22-25">22-25</option>
            <option value="26-35">26-35</option>
            <option value="35-60">35-60</option>
            <option value="60+">60+</option>
        </select>
    </div>

    <div class="form-group">
        <label class="required" for="sex">Płeć:</label>
        <select class="form-control" id="sex" name="sex">
        <option value="" disabled selected hidden>Wybierz płeć...</option>
        <option value="Kobieta">Kobieta</option>
        <option value="Mężczyzna">Mężczyzna</option>
        <option value="Inna">Inna</option>
        <option value="Odmowa odpowiedzi">Wolę nie odpowiadać</option>
      </select>
    </div>
    
    <div class="form-group">
        <label class="required" for="woj">Województwo:</label>
        <select class="form-control" id="woj" name="woj">
            <option value="" disabled selected hidden>Wybierz województwo...</option>
                {% for wojewodztwo in lista_wojewodztw %}
                <option value="{{ wojewodztwo.id_wojewodztwa }}">{{ wojewodztwo.nazwa_wojewodztwa }}</option>
                {% endfor %}
        </select>
     </div>
    <br>

    <h3>Dane kontaktowe</h3>
    <div class="form-group">
        <label for="email">Adres e-mail:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Jeśli chcesz dostać informację jak ruszy rekrutacja to podaj swój adres e-mail">
    </div>

    <!-- <div class="form-group">
        <label for="phone">Numer telefonu:</label>
        <input type="text" class="form-control" id="phone" name="phone" required>
    </div> -->

    <script language="javascript">
        function EdSelectCheck(nameSelect)
        {
            console.log(nameSelect);
            if(nameSelect){
                wyzsze1Value = document.getElementById("wyzsze1").value;
                wyzsze2Value = document.getElementById("wyzsze2").value;
                wyzsze3Value = document.getElementById("wyzsze3").value;
                if(wyzsze1Value == nameSelect.value || wyzsze2Value == nameSelect.value || wyzsze3Value == nameSelect.value){
                    document.getElementById("DivCheck").style.display = "block";
                }
                else{
                    document.getElementById("DivCheck").style.display = "none";
                }
            }
            else{
                document.getElementById("DivCheck").style.display = "none";
            }
        }

        function UczelniaSelectCheck(nameSelect)
        {
            console.log(nameSelect);
            if(nameSelect){
                uczelniaValue = document.getElementById("uczelnia").value;
                if(uczelniaValue == nameSelect.value){
                    document.getElementById("UczelniaDivCheck").style.display = "block";
                }
                else{
                    document.getElementById("UczelniaDivCheck").style.display = "none";
                }
            }
            else{
                document.getElementById("UczelniaDivCheck").style.display = "none";
            }
        }
    </script>

    <br>
    <h3>Wykształcenie</h3>
    <div class="form-group">
        <label class="required" for="poziom">Poziom wykształcenia:</label>
        <select class="form-control" id="poziom" name="poziom" onchange="EdSelectCheck(this);">
            <option value="" disabled selected hidden>Wybierz poziom wykształcenia...</option>
            <option value="Podstawowe">Podstawowe</option>
            <option value="Gimnaazjalne">Gimnazjalne</option>
            <option value="Zasadnicze zawodowe">Zasadnicze zawodowe</option>
            <option value="Średnie">Średnie</option>
            <option id="wyzsze1" value="Wyższe I">Wyższe I-ego stopnia</option>
            <option id="wyzsze2" value="Wyższe II">Wyższe II-ego stopnia</option>
            <option id="wyzsze3" value="Wyższe III">Wyższe III-ego stopnia</option>
        </select>
    </div>
    <div id="DivCheck" style= "display:none;">
        <div class="form-group">
            <label class="required" for="ed">Uczelnia:</label>
            <select class="form-control" id="ed" name="ed" onchange="UczelniaSelectCheck(this);">
                <option value="" disabled selected hidden>Wybierz swoją uczelnię...</option>
                {% for uczelnia in lista_uczelni %}
                <option value="{{ uczelnia.id_uczelni }}">{{ uczelnia.nazwa_uczelni }}</option>
                {% endfor %}
            </select><br>
            <label class="required" for="ed">Obszar tematyczny kierunku studiów:</label>
            <select class="form-control" id="ed" name="ed">
                <option value="" disabled selected hidden>Wybierz obszar tematyczny kierunku...</option>
                {% for obszar in lista_obszarow %}
                <option value="{{ obszar.id_obszaru }}">{{ obszar.nazwa_obszaru }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <br>
    <h3>Informacje dodatkowe</h3>

    <!-- <div>
        <label for="work">Zaświadczenia: <br></label>
        <br>
        <input type="checkbox" id="sstate" name="sstate" unchecked>

        <label for="sstatus">Status studenta <br></label>
        <br>
        <input type="checkbox" id="disab" name="disab" unchecked>
        <label for="disab">Zaświadczenie o niepełnosprawności <br></label>
        <br>
        <input type="checkbox" id="crime" name="crime" unchecked>
        <label for="crime">Zaświadczenie o niekaralności <br></label>

    </div>

    <br> -->

    <div class="form-group">
        <label class="required" for="work">Sytuacja zawodowa:</label>
        <select class="form-control" id="work" name="work">
        <option value="" disabled selected hidden>Wybierz swoją sytuację zawodową...</option>
        <option>Bezrobotny</option>
        <option>Uczeń/student</option>
        <option>Emeryt/rencista</option>
      </select>
    </div>

    <br>
    <h2><label class="required"> Wiedza dydaktyczna</label></h2><br>
        <ol>
            <li><label > Podanie tematu i celu lekcji jest istotne przy zastosowaniu zasady:<br><br>
                <input type="radio" id="question1a" name="question1" value="1" required/> <label for="question1a"> Systematyczności</label><br>
                <input type="radio" id="question1b" name="question1" value="0" /> <label for="question1b"> Poglądowości</label><br>
                <input type="radio" id="question1c" name="question1" value="0" /> <label for="question1c"> Łączenia teorii z praktyką</label><br>
            </li>
            <li> Nauczyciel przygotowując i prowadząc dyskusję powinien:<br><br>
                <input type="radio" id="question2a" name="question2" value="1" required/> <label for="question2a"> Znać jej cel</label><br>
                <input type="radio" id="question2b" name="question2" value="0" /> <label for="question2b"> Mieć wyrobione zdanie</label><br>
                <input type="radio" id="question2c" name="question2" value="0" /> <label for="question2c"> Mieć gotowe uzasadnienie założonej tezy przed dyskusją</label><br>
            </li>
            <li> W metodzie projektów:<br><br>
                <input type="radio" id="question3a" name="question3" value="0" required/> <label for="question3a"> Uczeń prezentuje samodzielnie, nauczyciel ocenia efekt końcowy</label><br>
                <input type="radio" id="question3b" name="question3" value="1" /> <label for="question3b"> Uczeń ma obowiązek konsultowania projektu z nauczycielem</label><br>
                <input type="radio" id="question3c" name="question3" value="0" /> <label for="question3c"> Nauczyciel odpowiada za koordynację projektu</label><br>
            </li>
            <li> Flipped Classroom:<br><br>
                <input type="radio" id="question4a" name="question4" value="1" required/> <label for="question4a"> Uczeń uczy się sam w domu a lekcja przeznaczona jest na dyskusję, pracę w grupie, podsumowanie</label><br>
                <input type="radio" id="question4b" name="question4" value="0" /> <label for="question4b"> W metodzie tej nauczyciel odgrywa rolę uczącego się, a rolą uczniów jest przygotowanie materiałów do nauczania i zmierzenie się z uczeniem.  </label><br>
                <input type="radio" id="question4c" name="question4" value="0" /> <label for="question4c"> Uczniowie muszą tworzyć stronę internetową</label><br><br>
            </li>
            <li> Wideodydaktyka to: <br><br>
                <input type="radio" id="question5a" name="question5" value="0" required/> <label for="question5a"> Nazwa grupy metod nauczania wykorzystujących filmy takich jak, kierowanie obserwacją, pokaz itp.</label><br>
                <input type="radio" id="question5b" name="question5" value="1" /> <label for="question5b"> Metoda, w której nagrywają filmy</label><br>
                <input type="radio" id="question5c" name="question5" value="0" /> <label for="question5c"> Metoda, w której tylko oglądają filmy</label><br><br>
            </li>
            <li> W zdalnym nauczaniu: <br><br>
                <input type="radio" id="question6a" name="question6" value="1" required/> <label for="question6a"> Ocena powinna informować ucznia o jego odległości od założonego celu nauczania</label><br>
                <input type="radio" id="question6b" name="question6" value="0" /> <label for="question6b"> Nauczyciel nie kontaktuje się z uczniem, ale przygotowywuje materiały do pracy ucznia z treścią nauczania</label><br>
                <input type="radio" id="question6c" name="question6" value="0" /> <label for="question6c"> Nauczyciel nie prowadzi ewaluacji uczniów</label><br><br>
            </li>
            <li> Ewaluacja holistyczna<br><br>
                <input type="radio" id="question7a" name="question7" value="1" required/> <label for="question7a"> Odnosi się do oceniania całego ucznia</label><br>
                <input type="radio" id="question7b" name="question7" value="0" /> <label for="question7b"> Opiera się na układzie treści nauczania (cele, materiał, wymagania)</label><br>
                <input type="radio" id="question7c" name="question7" value="0" /> <label for="question7c"> Oceniane są wyłącznie efekty kształcenia</label><br><br>
            </li>
            <li> Aby spełnić zasadę systematyczności nauczyciel powinien: <br><br>
                <input type="radio" id="question8a" name="question8" value="1" required/> <label for="question8a"> Przed przystąpieniem do zajęć sprawdzić wiedzę uczniów</label><br>
                <input type="radio" id="question8b" name="question8" value="0" /> <label for="question8b"> Na początku powiedzieć temat zajęć, podać zagadnienia</label><br>
                <input type="radio" id="question8c" name="question8" value="0" /> <label for="question8c"> Kłaść nacisk na punktualność uczniów</label><br><br>
            </li>
            <li> Jeśli uczniowie wykonując pracę wytwórczą potrafią podać podstawy teoretyczne działania, to spełniona zasada: <br><br>
                <input type="radio" id="question9a" name="question9" value="0" required/> <label for="question9a"> Ustawiczności kształcenia</label><br>
                <input type="radio" id="question9b" name="question9" value="1" /> <label for="question9b"> Świadomego i aktywnego uczestnictwa</label><br>
                <input type="radio" id="question9c" name="question9" value="0" /> <label for="question9c"> Przystępności kształcenia  </label><br><br>
            </li>
            <li> Czym różni się rozkład materiału od planu wynikowego? <br><br>
                <input type="radio" id="question10a" name="question10" value="0" required/> <label for="question10a"> Różni się tylko nazwą</label><br>
                <input type="radio" id="question10b" name="question10" value="1" /> <label for="question10b"> Oba zawierają tematy i czas realizacji</label><br>
                <input type="radio" id="question10c" name="question10" value="0" /> <label for="question10c"> Rozkład materiału ma więcej informacji</label><br><br>
            </li>
            <li> Określenie stanu wiedzy początkowej uczniów jest istotne w zasadzie: <br><br>
                <input type="radio" id="question11a" name="question11" value="0" required/> <label for="question11a"> Ustawiczności kształcenia</label><br>
                <input type="radio" id="question11b" name="question11" value="1" /> <label for="question11b"> Przystępności</label><br>
                <input type="radio" id="question11c" name="question11" value="0" /> <label for="question11c"> Trwałości wiedzy</label><br><br>
            </li>
            <li> Ewaluacja w metodzie Web Quest: <br><br>
                <input type="radio" id="question12a" name="question12" value="0" required/> <label for="question12a"> Nie obejmuje opracowania przez nauczyciela zestawu kryteriów oceniania</label><br>
                <input type="radio" id="question12b" name="question12" value="0" /> <label for="question12b"> Jest etapem realizacji metody, w której nauczyciel z uczniami ocenia pracę</label><br>
                <input type="radio" id="question12c" name="question12" value="1" /> <label for="question12c"> Jest elementem motywującym i angażującym ucznia w oparciu o samokontrolę</label><br> <br>
            </li>
            <li> W metodzie Wideodydaktyki, reżyserowanie: <br><br>
                <input type="radio" id="question13a" name="question13" value="1" required/> <label for="question13a"> Uczniowie prowadzą na podstawie scenopisu powstałego na etapie projektowania</label><br>
                <input type="radio" id="question13b" name="question13" value="0" /> <label for="question13b"> Polega na szczegółowym opisie sceny filmu</label><br>
                <input type="radio" id="question13c" name="question13" value="0" /> <label for="question13c"> Realizowane jest przed samym nagraniem</label><br> <br>
            </li>
            <li> Grywalizacja: <br><br>
                <input type="radio" id="question14a" name="question14" value="1" required/> <label for="question14a"> Opiera nauczanie na grach komputerowych</label><br>
                <input type="radio" id="question14b" name="question14" value="0" /> <label for="question14b"> W metodzie tej uczniowie tworzą gry dydaktyczne, w które potem grają</label><br>
                <input type="radio" id="question14c" name="question14" value="0" /> <label for="question14c"> Wymaga stosowania komputerów</label><br> <br>
            </li>
            <li> Nauczyciel przygotowując i prowadząc zajęcia metodą lista pytań: <br><br>
                <input type="radio" id="question15a" name="question15" value="0" required/> <label for="question15a"> Przygotowuje listę pytań dla uczniów</label><br>
                <input type="radio" id="question15b" name="question15" value="0" /> <label for="question15b"> Może pominąć wybrane pytania uczniów</label><br>
                <input type="radio" id="question15c" name="question15" value="1" /> <label for="question15c"> Odpowiada na pytania</label><br> <br>
            </li>
            <li> Program nauczania wg. którego nauczyciel prowadzi zajęcia, przygotowuje: <br><br>
                <input type="radio" id="question16a" name="question16" value="0" required/> <label for="question16a"> Ministerstwo Edukacji Narodowej</label><br>
                <input type="radio" id="question16b" name="question16" value="0" /> <label for="question16b"> Dyrektor szkoły</label><br>
                <input type="radio" id="question16c" name="question16" value="1" /> <label for="question16c"> Nauczyciele</label><br> <br>
            </li>
            <li> Na czym polega wykład problemowy? <br><br>
                <input type="radio" id="question17a" name="question17" value="1" required/> <label for="question17a"> Polega na aktywizacji uczniów</label><br>
                <input type="radio" id="question17b" name="question17" value="0" /> <label for="question17b">  Polega na rozwiązaniu problemów postawionych przez uczniów</label><br>
                <input type="radio" id="question17c" name="question17" value="0" /> <label for="question17c">  Tworzy problem do rozwiązania na następne zajęcia</label><br><br>
            </li>
            <li> Z jakiej metody korzysta nauczyciel podczas komentowania prezentowanego filmu:  <br><br>
                <input type="radio" id="question18a" name="question18" value="0" required/> <label for="question18a"> Pokaz</label><br>
                <input type="radio" id="question18b" name="question18" value="1" /> <label for="question18b"> Kierowanie obserwacją</label><br>
                <input type="radio" id="question18c" name="question18" value="0" /> <label for="question18c"> Obserwacja problemowa</label><br><br>
            </li>    
        </ol>
    
    <br>

    <br>
    <h2><label class="required"> Umiejętności miękkie</label></h2><br>
        <ol>
            <li> Rodzic/opiekun/szef prosi Cię o zrobienie czegoś, czego nie jesteś w stanie zrealizować. Jak zareagujesz? <br><br>
                <input type="radio"  id="question1ma" name="question1m" value="1" required/> <label for="question1ma"> Nie mogę tego zrobić, ponieważ….(powód)… ale mogę…(Twoja inna propozycja)</label><br>
                <input type="radio"  id="question1mb" name="question1m" value="0" /> <label for="question1mb"> Niech się Pan(i) nie wygłupia!</label><br>
                <input type="radio"  id="question1mc" name="question1m" value="0" /> <label for="question1mc"> Przykro mi, ale tego nie mogę.</label><br>
                <input type="radio"  id="question1md" name="question1m" value="0" /> <label for="question1md"> Nie zrobię tego.</label><br><br>
            </li>
            <li> Przychodzi do Ciebie zdenerwowany rodzic i krzyczy: „Mój syn ma same dwóje! Przecież to niemożliwe! On się świetnie uczy!”. Jakie będzie Twoje pierwsze zdanie odpowiedzi? <br><br>
                <input type="radio" id="question2ma" name="question2m" value="0" required/> <label for="question2ma"> Proszę na mnie nie krzyczeć!</label><br>
                <input type="radio" id="question2mb" name="question2m" value="1" /> <label for="question2mb"> Czy dobrze zrozumiałem/łam, że Pani syn ma problem z niskimi ocenami?</label><br>
                <input type="radio" id="question2mc" name="question2m" value="0" /> <label for="question2mc"> To ja tu jestem nauczycielem i to ja wystawiam oceny.</label><br> 
                <input type="radio" id="question2md" name="question2m" value="0" /> <label for="question2md"> Przepraszam bardzo, to jest szkoła i tu się nie krzyczy.</label><br><br>
            </li>
            <li> Dziecko ma problem z zapamiętaniem danego zagadnienia. Jak rozwiążesz ten problem? <br><br>
                <input type="radio" id="question3ma" name="question3m" value="0" required/> <label for="question3ma"> Zaproponujesz dziecku wspólne powtarzanie po lekcji</label><br>
                <input type="radio" id="question3mb" name="question3m" value="0" /> <label for="question3mb"> Napiszesz do rodziców, aby poćwiczyli z dzieckiem w domu</label><br>
                <input type="radio" id="question3mc" name="question3m" value="1" /> <label for="question3mc"> Spróbujesz innej techniki nauki,  np. przez rysunek czy dźwięk</label><br><br>
            </li>
            <li> Jakie metody najlepiej wykorzystywać do nauki: <br><br>
                <input type="radio" id="question4ma" name="question4m" value="0" required/> <label for="question4ma"> Dzieci nie da się niczego nauczyć</label><br>
                <input type="radio" id="question4mb" name="question4m" value="0" /> <label for="question4mb"> Klasyczną naukę w klasie</label><br>
                <input type="radio" id="question4mc" name="question4m" value="1" /> <label for="question4mc"> Mieszane, wykorzystując zarówno metody wygłaszania tematów, zabawy sensualnej i stymulację dźwiękiem</label><br> 
                <input type="radio" id="question4md" name="question4m" value="0" /> <label for="question4md"> Ciągła zabawa i ruch</label><br><br>
            </li>
            <li> Zdolność do empatii jest:  <br><br>
                <input type="radio" id="question5ma" name="question5m" value="0" required/> <label for="question5ma"> Zdolnością do troski o dobro innych ludzi</label><br>
                <input type="radio" id="question5mb" name="question5m" value="1" /> <label for="question5mb"> Zdolnością do „chodzenia w cudzych butach”</label><br>
                <input type="radio" id="question5mc" name="question5m" value="0" /> <label for="question5mc"> Uwagą na własną wartość</label><br> 
                <input type="radio" id="question5md" name="question5m" value="0" /> <label for="question5md"> Zdolnością do zainteresowania innych ludzi</label><br> <br>
            </li>
            <li> Czy uważasz, że niektórzy ludzie łatwiej przyswajają wiedzę poprzez obrazy (wzrokowcy), przez słuchanie (słuchowcy) a inni przez działania (kinestetycy)? <br><br>
                <input type="radio" id="question6ma" name="question6m" value="0" required/> <label for="question6ma"> Nie, jest to wymysł osób, które nie mają łatwości uczenia się</label><br>
                <input type="radio" id="question6mb" name="question6m" value="1" /> <label for="question6mb"> Tak, są to udowodnione typy uczenia się </label><br>
                <input type="radio" id="question6mc" name="question6m" value="0" /> <label for="question6mc"> Nie, każdy jest się w stanie uczyć na każdy z tych sposobów.</label><br> <br>
            </li>
            <li> Widzisz, że dziecko na zajęciach jest nieuważne, wierci się, co chwilę wstaje z krzesła. Jaka jest Twoja diagnoza i jak sprawić, aby lepiej szła mu nauka?  <br><br>
                <input type="radio" id="question7ma" name="question7m" value="0" required/> <label for="question7ma"> Na pewno ma ADHD. Należy wysłać do lekarza aby wystawił orzeczenie.</label><br>
                <input type="radio" id="question7mb" name="question7m" value="0" /> <label for="question7mb"> Nie potrafi się skupić. Należy usadzić go w kącie, gdzie nic go nie będzie rozpraszało i czekać, aż się uspokoi i zacznie uczyć.</label><br>
                <input type="radio" id="question7mc" name="question7m" value="1" /> <label for="question7mc"> Najprawdopodobniej jest kinestetykiem. Należy zapewnić mu możliwość nauki poprzez ruch, pozwolić co jakiś czas się przespacerować, pozwolić mu wykonywać różne pomoce naukowe.</label><br> <br>
            </li>
            <li> Jaki ma Pan(i) stosunek do kursów i szkoleń? <br><br>
                <input type="radio" id="question8ma" name="question8m" value="0" required/> <label for="question8ma"> Szkolenia są dla  młodych, niedoświadczonych osób. Nauczyciele z wieloletnim stażem nie mają potrzeby dokształcania się.</label><br>
                <input type="radio" id="question8mb" name="question8m" value="1" /> <label for="question8mb"> Człowiek uczy się całe życie. Należy co jakiś czas uczestniczyć w kursie, aby  uzupełniać swoją wiedzę o nowe metody nauczania.</label><br>
                <input type="radio" id="question8mc" name="question8m" value="0" /> <label for="question8mc"> Kursy nie mają sensu. Najważniejsze doświadczenie zdobywa się w praktyce podczas prowadzenia zajęć.</label><br> <br>
            </li>
            <li> W jaki sposób rozpoznaje Pan(i) predyspozycje i potrzeby uczniów? <br><br>
                <input type="radio" id="question9ma" name="question9m" value="0" required/> <label for="question9ma"> Testy psychologiczne</label><br>
                <input type="radio" id="question9mb" name="question9m" value="1" /> <label for="question9mb"> Stosowanie zróżnicowanych technik nauczania i obserwacja, które najlepiej skutkują u danego ucznia</label><br>
                <input type="radio" id="question9mc" name="question9m" value="0" /> <label for="question9mc"> Rozmowa z uczniem.</label><br> 
                <input type="radio" id="question9md" name="question9m" value="0" /> <label for="question9md"> Rozmowa z rodzicami/opiekunami</label><br> <br>
            </li>
            <li> Spośród, wymienionych poniżej cech, zaznacz tę, która według Ciebie jest kluczowa dla dobrego wykładowcy, który pracuje z dziećmi <br><br>
                <input type="radio" id="question10ma" name="question10m" value="0" required/> <label for="question10ma"> Sprawiedliwość  </label><br>
                <input type="radio" id="question10mb" name="question10m" value="0" /> <label for="question10mb"> Wysoki poziom merytoryczny</label><br>
                <input type="radio" id="question10mc" name="question10m" value="0" /> <label for="question10mc"> Stanowczość</label><br> 
                <input type="radio" id="question10md" name="question10m" value="1" /> <label for="question10md"> Refleksja i plastyczność myślenia</label><br> <br>
            </li>
            <li> Efektywne komunikowanie się ze słuchaczami wymaga przede wszystkim: <br><br>
                <input type="radio" id="question11ma" name="question11m" value="0" required/> <label for="question11ma"> Wysokiego poziomu retoryki</label><br>
                <input type="radio" id="question11mb" name="question11m" value="0" /> <label for="question11mb"> Erudycji</label><br>
                <input type="radio" id="question11mc" name="question11m" value="1" /> <label for="question11mc"> Umiejętności słuchania</label><br> 
                <input type="radio" id="question11md" name="question11m" value="0" /> <label for="question11md"> Bycia w centrum uwagi</label><br> <br>
            </li>
            <li> Co jest najważniejsze przy radzeniu sobie z agresywnym uczniem? <br><br>
                <input type="radio" id="question12ma" name="question12m" value="1" required/> <label for="question12ma"> Znalezienie i zrozumienie podłoża agresji a następnie obrócenie jej w coś kreatywnego</label><br>
                <input type="radio" id="question12mb" name="question12m" value="0" /> <label for="question12mb"> Uspokojenie dziecka</label><br>
                <input type="radio" id="question12mc" name="question12m" value="0" /> <label for="question12mc"> Ukaranie za agresję, aby uczeń zrozumiał, że źle postępuje</label><br> <br>
            </li>
        </ol>

    <h3><label class="required">Zgoda na przetwarzanie danych osobowych</label></h3>
    <div>
        <label for="disab" style="text-align: justify"><input type="checkbox" id="rodo" name="rodo" required>
        Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb
        niezbędnych do realizacji procesu rekrutacji zgodnie z Rozporządzeniem
        Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r.
        w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych
        osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia
        dyrektywy 95/46/WE (RODO).</label>
    </div>
    <br>

    <button type="submit" class="btn btn-primary" style="float: right;">Prześlij formularz</button>
</form>
<br><br><br><br><br><br>

{% endblock %}