{% extends "base.html" %} {% block content %}

<div class="page-header">
    <h1>Formularz zgłoszeniowy</h1>
</div>
<br>

<form role="form" action="/save" method="post">
    <h3>Dane osobowe</h3>
    <!-- <div class="form-group">
        <label for="firstname">Imię:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required> 
        <option value="" disabled selected hidden>Choose Gender...</option>
    </div> 
    <div class="form-group">
        <label for="lastname">Nazwisko:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
    </div> -->

    <div class="form-group">
        <label for="date">Wiek:</label>
        <select class="form-control" id="wiek" name="wiek">
            <option value="" disabled selected hidden>Wybierz swoją grupę wiekową...</option>
            <option>mniej niż 18</option>
            <option>18-21</option>
            <option>22-25</option>
            <option>26-35</option>
            <option>35-60</option>
            <option>60+</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sex">Płeć:</label>
        <select class="form-control" id="sex" name="sex">
        <option value="" disabled selected hidden>Wybierz płeć...</option>
        <option>Kobieta</option>
        <option>Mężczyzna</option>
        <option>Inna</option>
        <option>Wolę nie odpowiadać</option>
      </select>
    </div>
    
    <div class="form-group">
        <label for="woj">Województwo:</label>
        <select class="form-control" id="woj" name="woj">
            <option value="1">Dolnośląskie</option>
            <option value="2">Kujawsko-Pomorskie</option>
            <option value="3">Lubelskie</option>
            <option value="4">Lubuskie</option>
            <option value="5">Łódzkie</option>
            <option value="6">Małopolskie</option>
            <option value="7">Mazowieckie</option>
            <option value="8">Opolskie</option>
            <option value="9">Podkarpackie</option>
            <option value="10">Podlaskie</option>
            <option value="11">Pomorskie</option>
            <option value="12">Śląskie</option>
            <option value="13">Świętokrzyskie</option>
            <option value="14">Warmińsko-Mazurskie</option>
            <option value="15">Wielkopolskie</option>
            <option value="16">Zachodniopomorskie</option>
        </select>
     </div>
    <br>

    <h3>Dane kontaktowe</h3>
    <div class="form-group">
        <label for="email">Adres e-mail:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <!-- <div class="form-group">
        <label for="phone">Numer telefonu:</label>
        <input type="text" class="form-control" id="phone" name="phone" required>
    </div> -->

    <script language="javascript">
        function EdSelectCheck(nameSelect)
        {
            console.log(nameSelect);
            if(nameSelect){
                wyzsze1Value = document.getElementById("wyzsze1").value;
                wyzsze2Value = document.getElementById("wyzsze2").value;
                wyzsze3Value = document.getElementById("wyzsze3").value;
                if(wyzsze1Value == nameSelect.value || wyzsze2Value == nameSelect.value || wyzsze3Value == nameSelect.value){
                    document.getElementById("DivCheck").style.display = "block";
                }
                else{
                    document.getElementById("DivCheck").style.display = "none";
                }
            }
            else{
                document.getElementById("DivCheck").style.display = "none";
            }
        }

        function UczelniaSelectCheck(nameSelect)
        {
            console.log(nameSelect);
            if(nameSelect){
                uczelniaValue = document.getElementById("uczelnia").value;
                if(uczelniaValue == nameSelect.value){
                    document.getElementById("UczelniaDivCheck").style.display = "block";
                }
                else{
                    document.getElementById("UczelniaDivCheck").style.display = "none";
                }
            }
            else{
                document.getElementById("UczelniaDivCheck").style.display = "none";
            }
        }
    </script>

    <br>
    <h3>Wykształcenie</h3>
    <div class="form-group">
        <label for="ed">Poziom wykształcenia:</label>
        <select class="form-control" id="ed" name="ed" onchange="EdSelectCheck(this);">
        <option>Podstawowe</option>
        <option>Gimnazjalne</option>
        <option>Zasadnicze zawodowe</option>
        <option>Średnie</option>
        <option id="wyzsze1" value="1">Wyższe I-ego stopnia</option>
        <option id="wyzsze2" value="2">Wyższe II-ego stopnia</option>
        <option id="wyzsze3" value="3">Wyższe III-ego stopnia</option>
        </select>
    </div>

    <div id="DivCheck" style= "display:none;">
        <div class="form-group">
            <label for="ed">Uczelnia:</label>
            <select class="form-control" id="ed" name="ed" onchange="UczelniaSelectCheck(this);">
            <option>Uniwersytet Pedagogiczny im. Komisji Edukacji w Krakowie</option>
            <option>Szkoła Główna Gospodarstwa Wiejskiego w Warszawie</option>
            <option>Uniwersytet Jagielloński w Krakowie</option>
            <option>Uniwersytet Marii Curie-Skłodowskiej w Lublinie</option>
            <option>Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie</option>
            <option>Uniwersytet Papieski Jana Pawła II w Krakowie</option>
            <option>Społeczna Akademia Nauk w Łodzi</option>
            <option>Uniwersytet Warszawski</option>
            <option>Uniwersytet im. Adama Mickiewicza w Poznaniu</option>
            <option>Akademia WSB w Dąbrowie Górniczej</option>
            <option>Uniwersytet Śląski w Katowicach</option>
            <option>Uniwersytet Gdański</option>
            <option>Uniwersytet Łódzki</option>
            <option>Politechnika Krakowska</option>
            <option>Uniwersytet Rolniczy w Krakowie</option>
            <option>Akademia Ignatianum w Krakowie</option>
            <option>Uniwersytet Opolski</option>
            <option>Uniwersytet Ekonomiczny w Krakowie</option>
            <option>Uniwersytet Medyczny w Łodzi</option>
            <option id="uczelnia" value="1">Inne</option>
        </select>
        </div>
    </div>

    <div id="UczelniaDivCheck" style= "display:none;">
        <div class="form-group">
            <label for="ed">Obszar tematyczny kierunku studiów:</label>
            <select class="form-control" id="ed" name="ed">
            <option>Administracyjne</option>
            <option>Artystyczne</option>
            <option>Biologiczno-przyrodnicze</option>
            <option>Ekonomiczne</option>
            <option>Humanistyczne</option>
            <option>Filologiczne</option>
            <option>Medyczne</option>
            <option>Pedagogiczne</option>
            <option>Prawnicze</option>
            <option>Psychologiczne</option>
            <option>Społeczne</option>
            <option>Techniczne</option>
            <option>Turystyczno-sportowe</option>
            <option>Wojskowe i morskie</option>
        </select><br>
        <label for="innaUczelnia">Nazwa Uczelni:</label>
        <input type="text" class="form-control" id="innaUczelnia" name="innaUczelnia" required>
        </div>
    </div>
    <br>
    <h3>Informacje dodatkowe</h3>

    <!-- <div>
        <label for="work">Zaświadczenia: <br></label>
        <br>
        <input type="checkbox" id="sstate" name="sstate" unchecked>

        <label for="sstatus">Status studenta <br></label>
        <br>
        <input type="checkbox" id="disab" name="disab" unchecked>
        <label for="disab">Zaświadczenie o niepełnosprawności <br></label>
        <br>
        <input type="checkbox" id="crime" name="crime" unchecked>
        <label for="crime">Zaświadczenie o niekaralności <br></label>

    </div>

    <br> -->

    <div class="form-group">
        <label for="work">Sytuacja zawodowa:</label>
        <select class="form-control" id="work" name="work">
        <option>Bezrobotny</option>
        <option>Uczeń/student</option>
        <option>Emeryt/rencista</option>
      </select>
    </div>

    <br>
    <h2> Wiedza dydaktyczna</h2> <br>
        <ol>
            <li><label for="pyt1" class="question">Podanie tematu i celu lekcji jest istotne przy zastosowaniu zasady:</label> <hr>
                <input type="radio" name="question1" value="1" /> Systematycznści<br>
                <input type="radio" name="question1" value="0" /> Poglądowości<br>
                <input type="radio" name="question1" value="0" /> Łączenia teorii z praktyką<br>
            </li>
            <li><label for="pyt2" class="question">Nauczyciel przygotowując i prowadząc dyskusję powinien:><hr>
                <input type="radio" name="question2" value="1" /> Znać jej cel <br>
                <input type="radio" name="question2" value="0" /> Mieć wyrobione zdanie<br>
                <input type="radio" name="question2" value="0" /> Mieć gotowe uzasadnienie założonej tezy przed dyskusją<br> <br>
            </li>
            <li><label for="pyt3" class="question">W metodzie projektów:</label><hr>
                <input type="radio" name="question3" value="0" /> Uczeń prezentuje samodzielnie, nauczyciel ocenia efekt końcowy <br>
                <input type="radio" name="question3" value="1" /> Uczeń ma obowiązek konsultowania projektu z nauczycielem <br>
                <input type="radio" name="question3" value="0" /> Nauczyciel odpowiada za koordynację projektu <br> <br>
            </li>
            <li><label for="pyt4" class="question"> Flipped Classroom: </label><hr>
                <input type="radio" name="question4" value="1" /> Uczeń uczy się sam w domu a lekcja przeznaczona jest na dyskusję, pracę w grupie, podsumowanie<br>
                <input type="radio" name="question4" value="0" /> W metodzie tej nauczyciel odgrywa rolę uczącego się, a rolą uczniów jest przygotowanie materiałów do nauczania i zmierzenie się z uczeniem.  <br>
                <input type="radio" name="question4" value="0" /> Uczniowie muszą tworzyć stronę internetową<br> <br>
            </li>
            <li><label for="pyt5" class="question"> Wideodydaktyka to: </label><hr>
                <input type="radio" name="question5" value="0" /> Nazwa grupy metod nauczania wykorzystujących filmy takich jak, kierowanie obserwacją, pokaz itp. <br>
                <input type="radio" name="question5" value="1" /> Metoda, w której nagrywają filmy  <br>
                <input type="radio" name="question5" value="0" /> Metoda, w której tylko oglądają filmy <br> <br>
            </li>
            <li><label for="pyt6" class="question"> W zdalnym nauczaniu: </label><hr>
                <input type="radio" name="question6" value="1" /> Ocena powinna informować ucznia o jego odległości od założonego celu nauczania<br>
                <input type="radio" name="question6" value="0" /> Nauczyciel nie kontaktuje się z uczniem, ale przygotowywuje materiały do pracy ucznia z treścią nauczania<br>
                <input type="radio" name="question6" value="0" /> Nauczyciel nie prowadzi ewaluacji uczniów<br> <br>
            </li>
            <li><label for="pyt7" class="question"> Ewaluacja holistyczna </label><hr>
                <input type="radio" name="question7" value="1" /> Odnosi się do oceniania całego ucznia<br>
                <input type="radio" name="question7" value="0" /> Opiera się na układzie treści nauczania (cele, materiał, wymagania)<br>
                <input type="radio" name="question7" value="0" /> Oceniane są wyłącznie efekty kształcenia<br> <br>
            </li>
            <li><label for="pyt8" class="question"> Aby spełnić zasadę systematyczności nauczyciel powinien: </label><hr>
                <input type="radio" name="question8" value="1" /> Przed przystąpieniem do zajęć sprawdzić wiedzę uczniów <br>
                <input type="radio" name="question8" value="0" /> Na początku powiedzieć temat zajęć, podać zagadnienia<br>
                <input type="radio" name="question8" value="0" /> Kłaść nacisk na punktualność uczniów<br> <br>
            </li>
            <li><label for="pyt9" class="question"> Jeśli uczniowie wykonując pracę wytwórczą potrafią podać podstawy teoretyczne działania, to spełniona zasada: </label><hr>
                <input type="radio" name="question9" value="0" /> Ustawiczności kształcenia<br>
                <input type="radio" name="question9" value="1" /> Świadomego i aktywnego uczestnictwa<br>
                <input type="radio" name="question9" value="0" /> Przystępności kształcenia  <br> <br>
            </li>
            <li><label for="pyt10" class="question"> Czym różni się rozkład materiału od planu wynikowego? </label><hr>
                <input type="radio" name="question10" value="0" /> Różni się tylko nazwą  <br>
                <input type="radio" name="question10" value="1" /> Oba zawierają tematy i czas realizacji  <br>
                <input type="radio" name="question10" value="0" /> Rozkład materiału ma więcej informacji  <br> <br>
            </li>
            <li><label for="pyt11" class="question"> Określenie stanu wiedzy początkowej uczniów jest istotne w zasadzie: </label><hr>
                <input type="radio" name="question11" value="0" /> Ustawiczności kształcenia  <br>
                <input type="radio" name="question11" value="1" /> Przystępności  <br>
                <input type="radio" name="question11" value="0" /> Trwałości wiedzy  <br> <br>
            </li>
            <li><label for="pyt12" class="question"> Ewaluacja w metodzie Web Quest: </label><hr>
                <input type="radio" name="question12" value="0" /> Nie obejmuje opracowania przez nauczyciela zestawu kryteriów oceniania  <br>
                <input type="radio" name="question12" value="0" /> Jest etapem realizacji metody, w której nauczyciel z uczniami ocenia pracę  <br>
                <input type="radio" name="question12" value="1" /> Jest elementem motywującym i angażującym ucznia w oparciu o samokontrolę  <br> <br>
            </li>
            <li><label for="pyt13" class="question"> W metodzie Wideodydaktyki, reżyserowanie: </label><hr>
                <input type="radio" name="question13" value="1" /> Uczniowie prowadzą na podstawie scenopisu powstałego na etapie projektowania  <br>
                <input type="radio" name="question13" value="0" /> Polega na szczegółowym opisie sceny filmu  <br>
                <input type="radio" name="question13" value="0" /> Realizowane jest przed samym nagraniem   <br> <br>
            </li>
            <li><label for="pyt14" class="question"> Grywalizacja: </label><hr>
                <input type="radio" name="question14" value="1" /> Opiera nauczanie na grach komputerowych  <br>
                <input type="radio" name="question14" value="0" /> W metodzie tej uczniowie tworzą gry dydaktyczne, w które potem grają <br>
                <input type="radio" name="question14" value="0" /> Wymaga stosowania komputerów  <br> <br>
            </li>
            <li><label for="pyt15" class="question"> Nauczyciel przygotowując i prowadząc zajęcia metodą lista pytań: </label><hr>
                <input type="radio" name="question15" value="0" /> Przygotowuje listę pytań dla uczniów  <br>
                <input type="radio" name="question15" value="0" /> Może pominąć wybrane pytania uczniów  <br>
                <input type="radio" name="question15" value="1" /> Odpowiada na pytania  <br> <br>
            </li>
            <li><label for="pyt16" class="question"> Program nauczania wg. którego nauczyciel prowadzi zajęcia, przygotowuje: </label><hr>
                <input type="radio" name="question16" value="0" /> Ministerstwo Edukacji Narodowej  <br>
                <input type="radio" name="question16" value="0" /> Dyrektor szkoły  <br>
                <input type="radio" name="question16" value="1" /> Nauczyciele  <br> <br>
            </li>
            <li><label for="pyt17" class="question"> Na czym polega wykład problemowy? </label><hr>
                <input type="radio" name="question17" value="1" /> Polega na aktywizacji uczniów  <br>
                <input type="radio" name="question17" value="0" />  Polega na rozwiązaniu problemów postawionych przez uczniów <br>
                <input type="radio" name="question17" value="0" />  Tworzy problem do rozwiązania na następne zajęcia <br> <br>
            </li>
            <li><label for="pyt18" class="question"> Z jakiej metody korzysta nauczyciel podczas komentowania prezentowanego filmu:  </label><hr>
                <input type="radio" name="question18" value="0" /> Pokaz  <br>
                <input type="radio" name="question18" value="1" /> Kierowanie obserwacją  <br>
                <input type="radio" name="question18" value="0" /> Obserwacja problemowa  <br> <br>
            </li>    
        </ol>
    
    <br>

    <br>
    <h2> Umiejętności miękkie</h2> <br>
        <ol>
            <li><label for="pyt1m" class="question"> Rodzic/opiekun/szef prosi Cię o zrobienie czegoś, czego nie jesteś w stanie zrealizować. Jak zareagujesz? </label><hr>
                <input type="radio" name="question1m" value="1" /> Nie mogę tego zrobić, ponieważ….(powód)… ale mogę…(Twoja inna propozycja)  <br>
                <input type="radio" name="question1m" value="0" /> Niech się Pan(i) nie wygłupia!  <br>
                <input type="radio" name="question1m" value="0" /> Przykro mi, ale tego nie mogę.  <br>
                <input type="radio" name="question1m" value="0" /> Nie zrobię tego.  <br> <br>
            </li>
            <li><label for="pyt2m" class="question"> Przychodzi do Ciebie zdenerwowany rodzic i krzyczy: „Mój syn ma same dwóje! Przecież to niemożliwe! On się świetnie uczy!”. Jakie będzie Twoje pierwsze zdanie odpowiedzi? </label><hr>
                <input type="radio" name="question2m" value="0" /> Proszę na mnie nie krzyczeć!  <br>
                <input type="radio" name="question2m" value="1" /> Czy dobrze zrozumiałem/łam, że Pani syn ma problem z niskimi ocenami?  <br>
                <input type="radio" name="question2m" value="0" /> To ja tu jestem nauczycielem i to ja wystawiam oceny. <br> 
                <input type="radio" name="question2m" value="0" /> Przepraszam bardzo, to jest szkoła i tu się nie krzyczy.  <br> <br>
            </li>
            <li><label for="pyt3m" class="question"> Dziecko ma problem z zapamiętaniem danego zagadnienia. Jak rozwiążesz ten problem? </label><hr>
                <input type="radio" name="question3m" value="0" /> Zaproponujesz dziecku wspólne powtarzanie po lekcji  <br>
                <input type="radio" name="question3m" value="0" /> Napiszesz do rodziców, aby poćwiczyli z dzieckiem w domu  <br>
                <input type="radio" name="question3m" value="1" /> Spróbujesz innej techniki nauki,  np. przez rysunek czy dźwięk  <br> <br>
            </li>
            <li><label for="pyt4m" class="question"> Jakie metody najlepiej wykorzystywać do nauki: </label><hr>
                <input type="radio" name="question4m" value="0" /> Dzieci nie da się niczego nauczyć  <br>
                <input type="radio" name="question4m" value="0" /> Klasyczną naukę w klasie  <br>
                <input type="radio" name="question4m" value="1" /> Mieszane, wykorzystując zarówno metody wygłaszania tematów, zabawy sensualnej i stymulację dźwiękiem  <br> 
                <input type="radio" name="question4m" value="0" /> Ciągła zabawa i ruch  <br> <br>
            </li>
            <li><label for="pyt5m" class="question"> Zdolność do empatii jest:  </label><hr>
                <input type="radio" name="question5m" value="0" /> Zdolnością do troski o dobro innych ludzi  <br>
                <input type="radio" name="question5m" value="1" /> Zdolnością do „chodzenia w cudzych butach”  <br>
                <input type="radio" name="question5m" value="0" /> Uwagą na własną wartość  <br> 
                <input type="radio" name="question5m" value="0" /> Zdolnością do zainteresowania innych ludzi  <br> <br>
            </li>
            <li><label for="pyt6m" class="question"> Czy uważasz, że niektórzy ludzie łatwiej przyswajają wiedzę poprzez obrazy (wzrokowcy), przez słuchanie (słuchowcy) a inni przez działania (kinestetycy)? </label><hr>
                <input type="radio" name="question6m" value="0" /> Nie, jest to wymysł osób, które nie mają łatwości uczenia się <br>
                <input type="radio" name="question6m" value="1" /> Tak, są to udowodnione typy uczenia się   <br>
                <input type="radio" name="question6m" value="0" /> Nie, każdy jest się w stanie uczyć na każdy z tych sposobów.  <br> <br>
            </li>
            <li><label for="pyt7m" class="question"> Widzisz, że dziecko na zajęciach jest nieuważne, wierci się, co chwilę wstaje z krzesła. Jaka jest Twoja diagnoza i jak sprawić, aby lepiej szła mu nauka?  </label><hr>
                <input type="radio" name="question7m" value="0" /> Na pewno ma ADHD. Należy wysłać do lekarza aby wystawił orzeczenie.  <br>
                <input type="radio" name="question7m" value="0" /> Nie potrafi się skupić. Należy usadzić go w kącie, gdzie nic go nie będzie rozpraszało i czekać, aż się uspokoi i zacznie uczyć.  <br>
                <input type="radio" name="question7m" value="1" /> Najprawdopodobniej jest kinestetykiem. Należy zapewnić mu możliwość nauki poprzez ruch, pozwolić co jakiś czas się przespacerować, pozwolić mu wykonywać różne pomoce naukowe.  <br> <br>
            </li>
            <li><label for="pyt8m" class="question"> Jaki ma Pan(i) stosunek do kursów i szkoleń? </label><hr>
                <input type="radio" name="question8m" value="0" /> Szkolenia są dla  młodych, niedoświadczonych osób. Nauczyciele z wieloletnim stażem nie mają potrzeby dokształcania się.  <br>
                <input type="radio" name="question8m" value="1" /> Człowiek uczy się całe życie. Należy co jakiś czas uczestniczyć w kursie, aby  uzupełniać swoją wiedzę o nowe metody nauczania. <br>
                <input type="radio" name="question8m" value="0" /> Kursy nie mają sensu. Najważniejsze doświadczenie zdobywa się w praktyce podczas prowadzenia zajęć.  <br> <br>
            </li>
            <li><label for="pyt9m" class="question"> W jaki sposób rozpoznaje Pan(i) predyspozycje i potrzeby uczniów? </label><hr>
                <input type="radio" name="question9m" value="0" /> Testy psychologiczne  <br>
                <input type="radio" name="question9m" value="1" /> Stosowanie zróżnicowanych technik nauczania i obserwacja, które najlepiej skutkują u danego ucznia  <br>
                <input type="radio" name="question9m" value="0" /> Rozmowa z uczniem  <br> 
                <input type="radio" name="question9m" value="0" /> Rozmowa z rodzicami/opiekunami  <br> <br>
            </li>
            <li><label for="pyt10m" class="question"> Spośród, wymienionych poniżej cech, zaznacz tę, która według Ciebie jest kluczowa dla dobrego wykładowcy, który pracuje z dziećmi </label><hr>
                <input type="radio" name="question10m" value="0" /> Sprawiedliwość  <br>
                <input type="radio" name="question10m" value="0" /> Wysoki poziom merytoryczny  <br>
                <input type="radio" name="question10m" value="0" /> Stanowczość  <br> 
                <input type="radio" name="question10m" value="1" /> Refleksja i plastyczność myślenia   <br> <br>
            </li>
            <li><label for="pyt11m" class="question"> Efektywne komunikowanie się ze słuchaczami wymaga przede wszystkim: </label><hr>
                <input type="radio" name="question11m" value="0" /> Wysokiego poziomu retoryki  <br>
                <input type="radio" name="question11m" value="0" /> Erudycji  <br>
                <input type="radio" name="question11m" value="1" /> Umiejętności słuchania  <br> 
                <input type="radio" name="question11m" value="0" /> Bycia w centrum uwagi  <br> <br>
            </li>
            <li><label for="pyt12m" class="question"> Co jest najważniejsze przy radzeniu sobie z agresywnym uczniem? </label><hr>
                <input type="radio" name="question12m" value="1" /> Znalezienie i zrozumienie podłoża agresji a następnie obrócenie jej w coś kreatywnego  <br>
                <input type="radio" name="question12m" value="0" /> Uspokojenie dziecka  <br>
                <input type="radio" name="question12m" value="0" /> Ukaranie za agresję, aby uczeń zrozumiał, że źle postępuje  <br> <br>
            </li>
        </ol>

    <h3>Zgoda na przetwarzanie danych osobowych</h3>
    <div>
        <label for="disab" style="text-align: justify"><input type="checkbox" id="rodo" name="rodo"
            unchecked>
      Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb
niezbędnych do realizacji procesu rekrutacji zgodnie z Rozporządzeniem
Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r.
w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych
osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia
dyrektywy 95/46/WE (RODO).</label>
    </div>
    <br>

    <button type="submit" class="btn btn-primary" style="float: right;">Prześlij formularz</button>
</form>
<br><br><br><br><br><br>
{% endblock %}