<!-- extend base layout -->
{% extends "base.html" %} {% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1 class="display-4">Witamy na stronie rekrutacji</h1>
    <p class="lead">To wspaniale, że chcesz dołaczyć do drużyny Bohaterów na Uniwersytecie Dzieci!</p>
    <hr class="my-4">
    <p>Zapraszamy do wypełnienia formularza rekrutacyjnego.</p>
</div>

<div class="page-header">
    <h1>Co chcesz zrobić?</h1>
</div>

<p>
    <a class="btn btn-primary" href="/form" role="button">Uzupełnij formularz</a>
    <a class="btn btn-primary" href="/result" role="button">Zobacz wyniki</a>
</p>


{% endblock %}